<div>
<h2>WORKAGRAM SOMETHING</h2>
  <div>
    <%= form_for @work, url: {action: "create"} do |f| %>

      <%= f.label :text %>
      <%= f.text_field :text %>

      <%= f.submit "submit" %>
    <% end %>
  </div>
</div>

<article>
<h2>NEW WORKAGRAMS</h2>
  <ul >
  <%= render @timeline_works %>
  </ul>
</article>