<section>
<h3>WORKAGRAM SOMETHING</h3>
    <%= form_for @work, url: {action: "create"} do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      <%= f.text_field :text, :placeholder => "New comment", style: "width: 500px;height: 25px;", class: 'text_w' %>
      <%= f.submit "Post" %>
    <% end %>
</section>

<article>
<h3>NEW WORKAGRAMS</h3>
  <ul>
  <%= timeline_works %>
  </ul>
</article>

<aside>
<h3>WHO TO FOLLOW</h3>
<ul >
<%= render @timeline_follows %>
</ul>
</aside>