<section class="pl-10">
<h1>Sign up</h1>
  <div>
    <%= form_for @user, url: {action: "create"} do |f| %>
      <%= render 'shared/errors', object: f.object %>

      <%= f.label :username %>
      <%= f.text_field :username%>
      <br>
      <%= f.label 'Full name', class: "pt-10" %>
      <%= f.text_field :fullname %>
      <br>
      <%= f.label 'Photo', class: "pt-10" %>  
      <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>
      <br>
      <%= f.label 'cover image', class: "pt-10" %>
      <%= f.file_field :coverimage, accept: 'image/jpeg,image/gif,image/png' %>
      <br>
      <%= f.submit "Create my account" %>
    <% end %>
  </div>
</section>

