<h1>Sign up</h1>

<div>
  <div>
    <%= form_for @user, url: {action: "create"} do |f| %>
      <%= render 'shared/errors', object: f.object %>

      <%= f.label :username %>
      <%= f.text_field :username%>

      <%= f.label 'Full name' %>
      <%= f.text_field :fullname %>

      <%= f.submit "Create my account" %>
    <% end %>
  </div>
</div>
