<h1>Sign up</h1>

<div>
  <div>
    <%= form_for @user, url: {action: "create"} do |f| %>
      <%= render 'shared/errors', object: f.object %>

      <%= f.label :username %>
      <%= f.text_field :username%>

      <%= f.label 'Full name' %>
      <%= f.text_field :fullname %>

      <%= f.label 'Photo' %>  
      <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>

      
      <%= f.label 'cover image' %>
      <%= f.file_field :coverimage, accept: 'image/jpeg,image/gif,image/png' %>

      <%= f.submit "Create my account" %>
    <% end %>
  </div>
</div>

