
<section>
  <%= image_tag @user.coverimage.url.to_s, class: "cover_img float-left" if @user.coverimage? %>
  <%= picture_form(@user, :coverimage) %>
    <article>
    <h3>ALL WORKS / NO REPLIES</h3>
      <ul >
      <%= timeline_user(@user) %>
      </ul>
    </article>
</section>

<aside>
  <%= image_tag @user.photo.url, class: "photo img-circle float-left" if @user.photo? %>
  <h3><%= @user.fullname.upcase %></h3>
  <%= picture_form(@user, :photo) %>
  <%= follow_form(@user) %>
  <ul>  
    <li>
      <h3><%= @user.works.count%></h2> 
      <p>Works</p>
    </li>      
    <li>
      <h3><%= @user.following.count%></h2> 
      <p>Following</p>
    </li>
    <li>
      <h3><%= @user.followers.count %></h3>
      <p>Followers</p>
    </li>
  </ul>

  <h3>FOLLOWED BY</h3>
  <ul>
  <%= timeline_followers(@user) %>
  </ul>
</aside>