
<section>
  <%= image_tag @user.coverimage.url.to_s if @user.coverimage? %>
  <% if current_user? @user %>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/errors', object: f.object %>
      <span>
        <%= f.file_field :coverimage, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      <span>
        <%= f.submit "Update" %>
      </span>
  <% end %>
  <% end %>
    <article>
    <h3>ALL WORKS / NO REPLIES</h3>
      <ul >
      <%= timeline_user(@user) %>
      </ul>
    </article>
</section>

<aside>
  <%= image_tag @user.photo.url if @user.photo? %>
  <h3><%= @user.fullname.upcase %></h3>
  <% if current_user? @user %>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/errors', object: f.object %>
        <span>
          <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
        <span>
        <%= f.submit "Update" %>
        </span>
    <% end %>
  <% elsif following?(@user)  %>
    <%= form_for(current_user.followings.build) do |f| %>
      <div>
        <%= hidden_field_tag :followed_id, @user.id %>
      </div>
      <%= f.submit "Follow" %>
    <% end %>  
  <% end %>
  <ul>  
    <li>
      <h3><%= @user.works.count%></h2> 
      <p>Works</p>
    </li>      
    <li>
      <h3><%= @user.following.count%></h2> 
      <p>Following</p>
    </li>
    <li>
      <h3><%= @user.followers.count %></h3>
      <p>Followers</p>
    </li>
  </ul>

  <h3>FOLLOWED BY</h3>
  <ul>
  <% timeline_followed(@user).each do |user| %>
  <li >
  <div>
    <div>
      <%= link_to user.fullname, user_path(user) %>
    </div>
  </div>
  <%= form_for(current_user.followings.build) do |f| %>
      <div><%= hidden_field_tag :followed_id, user.id %></div>
      <%= f.submit "Follow" if current_user != user && following?(user)%>
  <% end %>
  </li>
  <% end %>
  </ul>
</aside>