<nav>
    <% if logged_in? %>
    <h1> <%= current_name %> </h1>
    <ul>        
        <li>
        <%= link_to 'Following', '#'%>
        </li>
        <li>
        <%= link_to 'Followers', '#' %>
        </li>
        <li>
        <%= link_to 'HOME', root_path %>
        </li>
        <li>
        <%= link_to 'PROFILE', current_user %>
        </li>
        <li>
        <%= link_to "Log out", logout_path, method: :delete %>
        </li>
    <% else %>
    <ul>
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
    <% end %>
    </ul>
</nav>
