<!DOCTYPE html>
<html>
  <head>
    <title>Workagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <% flash.each do |message_type, message| %>
      <p class="flash"><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
